{# src/OC/CoreBundle/Resources/views/Core/contact.html.twig #}

{% extends "OCCoreBundle::base.html.twig" %}

{% block title %} 
    {{ parent() }} | Contact 
{% endblock %}

{% block core_body %}
    <h1> Formulaire de contact </h1>
    
    <hr>
    
    <div class="well">
        {# Ici sera placé notre formulaire de contact#}
        
    </div>
    
{% endblock %}

