{# src\OC\CoreBundle\Resources\views\Core\home.html.twig #}

{% extends "OCCoreBundle::base.html.twig" %}

{% block title %} 
    {{ parent() }} | Home 
{% endblock %}

{% block core_body %}
    <div class="row">

        <h1> Bienvenue sur ma plateforme </h1>

        <hr>

        <div class="row">
            <p>
                {# On affiche tous les messages flash dont le nom est « info » #}
                {% for message in app.session.flashbag.get('info') %}
                <p  class="alert alert-info">
                    <strong>Info!</strong> Message flash : {{ message }}
                </p>
            {% endfor %}
            </p>
            <p>
                {# On affiche tous les messages flash dont le nom est « info » #}
                {% for message in app.session.flashbag.get('warning') %}
                <p  class="alert alert-warning">
                    <strong>Warning!</strong> Message flash : {{ message }}
                </p>
            {% endfor %}
            </p>
        </div>

        <div class="row">
            <h2>Dernières annonces</h2>

            {{ render(controller("OCPlatformBundle:Advert:list", {'limit': 10})) }}

        </div>
    </div>

{% endblock %}