{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "OCCoreBundle::base.html.twig" %}

{% block title %}
    {{ parent() }} | Annonces
{% endblock %}

{% block core_body %}

    <h1>Annonces</h1>

    <hr>

    {% block advert_body %}
    {% endblock %}

{% endblock %}